/**********************************************************************************************************************************
汎用定数定義SASS
	汎用的に使用される定数を定義したSASS

	注意事項：
		ここで定義されるものは削除してはいけない。
		本SASSは最初にインポートされる必要がある。
		ここで定義されている定数をオーバーライドすることで挙動を変更できる。

	作成履歴：
		2016/07/05	新規作成（浅野 利博）
**********************************************************************************************************************************/
/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
@charset "UTF-8";

/*--------------------------------------------------------------------------------------------------------------
定数定義
--------------------------------------------------------------------------------------------------------------*/
	/*----------------------------------------------------------------------------------------------------------
	メディア定義
	----------------------------------------------------------------------------------------------------------*/
	$media_min_width:									300px;					// 最小横幅定義
	$media_smart_phone_width:							480px;					// スマートフォン横幅 最大定義
	$media_phablet_width:								550px;					// ファブレット横幅 最大定義
	$media_tablet_width:								768px;					// タブレット横幅 最大定義
	$media_desctop_width:								1000px;					// デスクトップ横幅 最大定義
	$media_desctop_hd_width:							1200px;					// デスクトップHD横幅 最大定義
