/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
@charset "UTF-8";

/*--------------------------------------------------------------------------------------------------------------
システム共通定義インクルード
--------------------------------------------------------------------------------------------------------------*/
/* コンパスの基本機能を全部インポート */
@import "compass";
/* リセット用CSSをインポート */
@import "compass/reset/";

/* 汎用定数 */
@import "common_variables";

/* Google Font をインポート（必要に応じて）*/
@import url(//fonts.googleapis.com/css?family=Abel);

/*--------------------------------------------------------------------------------------------------------------
全適用定義
	プリンターを含む全てで適用される定義を記述。
--------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------
boxレイアウト確認用
--------------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	// ボディー部
	body
	{
		width: 1024px;
		margin: 0 auto;

		// ヘッダー部
		#hedder_content 
		{
			
			width: 100%;
			height: 210px;
			background:url("../images/topimage.jpg") ;

			// ヘッダーコンテンツbox
			#hedder_contentbox
			{
			width: 100%;
			height: 100px;
			padding-top: 50px;

				// 左側ロゴ定義
				.header_logo
				{
					width: 35%;
					height: 100px;
					padding: 50px 0 0 15px;
					float: left;
				}
				
				// 右側メニューbox定義
				.header_rightbox
				{
					width: 60%;
					height: 100px;
					padding: 50px 0 0 15px;
					float: right;
				
					// 右側メニュー定義
					.header_sns
					{
					
					width:  10%;
					height: 100px;
					padding: 0 0 0 40px;
					float: right;
					}
					// facebook定義
					.sns_image
					{
					margin-bottom:0 10px 0 0;
					}
					.fa
					{
					font-size: 30px; 
  					font-family: FontAwesome;
					}

					//検索ボックス
					.search_box
					{
						
						width:  40%;
						height: 100px;
						padding: 0 15px 0 0;
						float: right;
					}
					/* SUB BOXに関する設定 */
					#SEARCH_ENGINE
					{
						margin-bottom:5px;
						background:#fff;
						border:2px solid #363636;
						background:#FFED71;
						box-sizing:border-box;
					}

					/* 検索エンジン部分 */
					#SEARCH_ENGINE
					{
						padding:0;
					}
						input[type="search"]
						{
							margin:auto;
							padding:3px 15% 3px 3%;
							width:82%;
							height:24px;
							border:none;
							background-color: rgba(238,238,238,0.5);
							font-size:1.1rem;
							position:relative; /* 入力部分の上に検索ボタンを置くためのおまじない */
							z-index:0; /* 入力部分の上に検索ボタンを置くためのおまじない：重ね順を定義 */
							-webkit-appearance: textfield;
							-moz-box-sizing: content-box;
							-webkit-box-sizing: content-box;
							box-sizing: content-box;
						}
						
						input[type="image"]
						{
							float:right;
							margin:-24px 5px 0 0;
							position:relative; /* 入力部分の上に検索ボタンを置くためのおまじない */
							z-index:100; /* 入力部分の上に検索ボタンを置くためのおまじない：重ね順を定義 */
							height:18px;
						}
					
				}
				
			}
			.Global_Navigation_Bar
			{
				background-color: #ffefd5;
				width:  100%;
				height: 60px;
				
				
			.Global_Navi
				{
					width:  ( 100% / 6 );
					height: 10px;
					width:  16.6%;
					padding:0 10px 0 10px;
					blader: 1px ;
					border-color: red;
					display: block;
					float: left;
				}
			}
			
			@include clearfix;
		}


		// コンテンツ部
		main
		{
			background-color: #ff530d;
			width: 100%;
			display: block;

			// 広告スペース定義
			.Eye_catch_area
			{
				background-color: #b0c4de;
				width:  90%;
				height: 150px;
				display: block;
				margin: 0 auto;
			}

			// content_area定義
			.content_area
			{
				background-color: #b0e0e6;
				width:  90%;
				
				display: block;
				margin: 0 auto;

				// pc_各部定義
				.pc_mainbox
				{
					background-color: #d2691e;
					width:  ( 100% / 3 );
					height: 150px;

					display: block;
					float: left;
				}
			}

			@include clearfix;
		}
		
		// フッター部
		footer
		{
			clear: both;
			background-color: #34cbff;
			width: 100%;
			height: 350px;
		

			
			.left_footer
			{
				background-color: #b8860b;
				width: 60%;
				height: 300px;
				
				float: left;
			}
			.right_footer
			{
				background-color: #5f9ea0;
				width: 40%;
				height: 300px;
				
				float: right;
			}

			
			.copyright
			{
				background-color: #7b68ee;
				width: 100%;
				height: 50px;
				float: right;
			}

			@include clearfix;
		}
	}
			

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}

/*--------------------------------------------------------------------------------------------------------------
スマートフォン専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: $media_smart_phone_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/
	// ボディー部
	body
	{
		width: 100%;

		// ヘッダー部
		header 
		{
			height: 100px;
		
		// ヘッダーコンテンツbox
			#hedder_contentbox
			{
				// 左側ロゴ定義
				.header_logo
				{
					width: 100%;
					height: 50px;

				}
		
				// 右側メニュー定義
				.header_sns
				{
					width: 20%;
					height: 50px;

					.search_box
					{
						width: 60%;
						height: 50px;
					}
				}
			}

			@include clearfix;
		}


		// コンテンツ部
		main
		{


			// 広告スペース定義
			.Eye_catch_area
			{

			}

			// content_area定義
			.content_area
			{

				// sp_各部定義
				.sp_mainbox
				{
					width: 100%;
				}
			}

			@include clearfix;
		}
		
		// フッター部
		footer
		{
	
			.left_footer
			{
				width: 100%;
				height: 150px;
			}
			.right_footer
			{
				width: 100%;
				height: 150px;
			}

			.copyright
			{
				width: 100%;
				height: 50px;
			}

			@include clearfix;
		}
	}

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
ファブレット専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_smart_phone_width+1) and (max-width:$media_phablet_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/
	// コンテンツ部
	main
	{
	}

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
タブレット専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_phablet_width+1) and (max-width:$media_tablet_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
デスクトップ専用定義
	注意事項：
		通常デスクトップのディスプレイの場合をデスクトップとして解釈している。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_tablet_width+1) and (max-width:$media_desctop_hd_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
デスクトップHD以上定義
	注意事項：
		デスクトップHD以上のディスプレイの場合をデスクトップとして解釈している。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_desctop_hd_width+1)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}
