/*--------------------------------------------------------------------------------------------------------------
エンコーディング定義
--------------------------------------------------------------------------------------------------------------*/
@charset "UTF-8";

/*--------------------------------------------------------------------------------------------------------------
システム共通定義インクルード
--------------------------------------------------------------------------------------------------------------*/
/* コンパスの基本機能を全部インポート */
@import "compass";
/* リセット用CSSをインポート */
@import "compass/reset/";

/* 汎用定数 */
@import "common_variables";
/* 汎用関数 */
@import "common_function";

/* Google Font をインポート（必要に応じて）*/
@import url(//fonts.googleapis.com/css?family=Abel);

/* カルーセルスライダー*/
@import url(OwlCarousel/assets/owl.carousel.min.css);
@import url(OwlCarousel/assets/owl.theme.default.min.css);

//mixin
@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}


/*--------------------------------------------------------------------------------------------------------------
全適用定義
	プリンターを含む全てで適用される定義を記述。
--------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------
	変数定義
	----------------------------------------------------------------------------------------------------------*/

	$pc_mainbox:              33%;
	
// 最大ページ幅
	$page_max_width:			1024px;
	// Header高さ（固定）
	$header_height:				80px;
	// コンテンツ最低高
	$main_min_height:			400px;
	// コンテンツ部左右余白合計
	$main_contents_margin:		40px;
	// Footer高さ（固定）
	$footer_height: 			80px;
	
	$footer_width:				30%;

	// Header ロゴ幅
	$sLogo_Frame_width:			30%;
	// Header メニュー幅
	$sMenu_Frame_width:			70%;

	// 右側フレーム幅
	$sRigth_Frame_width:		300px;
	
	// アイ・キャッチ・エリア高
	$sEye_catch_area_height:	150px;

	//ニュースイメージ写真横幅
	$newsimage_width: 				150px;

/*--------------------------------------------------------------------------------------------------------------
boxレイアウト確認用
--------------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	// ボディー部
	body
	{
		width: 1024px;
		margin: 0 auto;
		background:#fffbf4;

		// ヘッダー部
		#hedder_content 
		{
			
			width: 100%;
			height: 210px;
			background:url("../images/topimage.jpg") ;

			// ヘッダーコンテンツbox
			#hedder_contentbox
			{
			width: 100%;
			height: 50px;
			padding-top: 50px;

				// 左側ロゴ定義
				.header_logo
				{
					width: 35%;
					height: 50px;
					padding: 50px 0 0 15px;
					float: left;
				}
				
				h1
				{
					font-size: 200%;
					font-weight: bold;
				}
				// 右側メニューbox定義
				.header_rightbox
				{
					width: 60%;
					height: 35px;
					padding: 65px 0 0 0;
					float: right;
				
					// 右側メニュー定義
					.header_sns
					{
					
					width:  10%;
					height: 50px;
					
					float: right;
					}
					// facebook定義
					.sns_image
					{
					margin-bottom:0 10px 0 0;
					}
					.fa
					{
					font-size: 30px; 
					padding: 0 0 0 20px;
  					font-family: FontAwesome;
					}

					//検索ボックス
					.search_box
					{
						
						width:  40%;
						
						padding: 0 15px 0 0;
						float: right;
					}
					/* SUB BOXに関する設定 */
					.SEARCH_ENGINE
					{
						margin-bottom:5px;
						background:#fff;
						border:2px solid #363636;
						background:#FFED71;
						box-sizing:border-box;
					}

					/* 検索エンジン部分 */
					.SEARCH_ENGINE
					{
						padding:0;
					}
						input[type="search"]
						{
							margin:auto;
							padding:3px 15% 3px 3%;
							width:82%;
							height:24px;
							border:none;
							background-color: rgba(238,238,238,0.5);
							font-size:1.1rem;
							position:relative; /* 入力部分の上に検索ボタンを置くためのおまじない */
							z-index:0; /* 入力部分の上に検索ボタンを置くためのおまじない：重ね順を定義 */
							-webkit-appearance: textfield;
							-moz-box-sizing: content-box;
							-webkit-box-sizing: content-box;
							box-sizing: content-box;
						}
						
						input[type="image"]
						{
							float:right;
							margin:-24px 5px 0 0;
							position:relative; /* 入力部分の上に検索ボタンを置くためのおまじない */
							z-index:100; /* 入力部分の上に検索ボタンを置くためのおまじない：重ね順を定義 */
							height:18px;
						}
				}	
			}
			
			
			
			.Global_Navigation_Bar
			{
				
				width:  100%;
				height: 60px;
				display: block;
				float: left;

				.navi{
	
   					box-sizing:border-box;
   					margin: 0 11px 0 11px;
   					width: 100%;
   					display: block;
   					box-sizing: border-box
   					
				}
				
				li
				{
					display: inline-block;
					background-color: #4682b4;
					
					width: 120px;
					padding: 10px;
					margin: 13px;
					text-align: center;
					float: left;
				}
				
				a
				{
					color: #ffffff;
					text-decoration: none;
					padding: 2px;
				}
	
			}


			@include clearfix;
		}


		// コンテンツ部
		main
		{
			
			width: 100%;
			display: block;

			// 広告スペース定義
			#Eye_catch_area
			{
				width:  100%;
				height: 150px;
				padding: 10px 0 10px 0;
				
				#CAROUSEL_SLIDER
				{
					list-style: none;
					
				}

				.owl-controls 
				{
					display: none;
				}
				
			@include clearfix;
			}

			// content_area定義
			.content_area
			{
				
				width:  90%;
				display: block;
				margin: 0 auto;

				// pc_各部定義
				.pc_mainbox
				{
				
					width:  ( 100% / 3 );
					height: 300px;
				
					display: block;
					float: left;
				}
			}
			// sp_各部定義
			.sp_content
			{

				display: none;
			}
			
			// ニュース定義
			#newstitle_area
			{
				width:  100%;
				height: 30px;
				background: #ffcc00;
				
				h2
				{
					color: #000000;
					text-align: center;
					font-weight: bold;
					padding: 7px 0 0 0;
				}
			}	
			#news_area
			{
				height: 130px;
				width: 100%;
				padding: 10px 0 0 0;
					
				.newsimage
				{
					height: 100px;
					width: $newsimage_width;
					padding: 0 0 0 10px;
					float: left;
				}
					.news
					{
						height: 130px;
						@include calc( width, "100% - " ＋ $newsimage_width );
						padding:0 10px 0 0;
						@include clearfix;
					}
						.newstitle_area
						{
							height: 20px;
							@include calc( width, "100% - " ＋ $newsimage_width );
							padding: 0 0 0 10px;
							background: #ffcc00;
						}
						.newstxt
						{
							height: 110px;
							@include calc( width, "100% - " ＋ $newsimage_width );
							padding: 0 0 0 10px;
						}
			}
			

			@include clearfix;
		}
		
		// フッター部
		footer
		{
			clear: both;
			background-color: #124b95;
			width: 100%;
			height: 200px;
			
			a
					{
						color: #ffffff;
						text-decoration: none;
					}
		
			#footerbox
			{
				width: 100%;
				
						
				.left_footer1
				{
					
					width:	$footer_width;	
					height: 120px;
					padding: 10px;
					float: left;
				}
				
				.left_footer2
				{
					
					width:	$footer_width;	
					height: 120px;
					padding: 10px;
					float: left;
				}
				
				.right_footer
				{
					
					width:	$footer_width;	
					height: 120px;
					padding: 10px;
					float: right;
				}
				
			}
			
			
			@include clearfix;
				.copyright
				{
					width: 100%;
					height: 50px;
					padding: 20px;
					text-align: center;
					float: left;
					
					a
					{
						color: #ffffff;
						text-decoration: none;
					}
				}

			
		}
	}
			

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}

/*--------------------------------------------------------------------------------------------------------------
スマートフォン専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: $media_smart_phone_width)
{
	/*----------------------------------------------------------------------------------------------------------
	変数定義
	----------------------------------------------------------------------------------------------------------*/
	// 最大ページ幅
	$sp_page_max_width:			100%;
	// Header高さ（固定）
	$sp_header_height:			40px;
	// Footer高さ（固定）
	$sp_footer_height: 			40px;
	$footer_height: 			100px;
	$footer_width: 			100%;

	// Header ロゴ幅
	$sp_sLogo_Frame_width:		70%;
	// Header メニュー幅
	$sp_sMenu_Frame_width:		30%;

	// アイ・キャッチ・エリア高
	$sp_sEye_catch_area_height:	80px;	
	


	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/
// ボディー部
	body
	{
		width: $sp_page_max_width;
		background:#fffbf4;

		// ヘッダー部
		#hedder_content 
		{
			
			height: 210px;
			background:url("../images/topimage.jpg") ;

			// ヘッダーコンテンツbox
			#hedder_contentbox
			{

				// 左側ロゴ定義
				.header_logo
				{
					width: 100%;
					height: 50px;
					padding: 55px 0 0 15px;

					h1
					{
						font-size: 200%;
						font-weight: bold;
					}
				}
				
				// 右側メニューbox facebookとserchbox梱包定義
				.header_rightbox
				{
					width: 100%;
					height: 75px;
					float: inherit;
					

					//検索ボックス
					.search_box
					{
						width:  40%;
					}

					// 右側メニュー定義
					.header_sns
					{

						float: right;

						
						// facebook定義
						.sns_image
						{
							
						}
						
						.fa
						{
							padding: 0 0 0 0px;
							font-size: 30px; 
  							font-family: FontAwesome;
						}

					}	
				}	
			}

			.Global_Navigation_Bar
			{
				display: none;
			}

			@include clearfix;
		}


		// コンテンツ部
		main
		{
			
			width: 100%;
			//height: 300px;
			//display: block;

			// 広告スペース定義
			#Eye_catch_area
			{
				height: inherit;
			}

			// content_area定義
			.content_area
			{
				display: none;

				// pc_各部定義
				.pc_mainbox
				{
				}
			}
			// sp_各部定義
			.sp_content_area
			{
				display: block;

				.sp_content
				{
					display: block;
					width: 100%;
					
					img
					{
						width: 100%;
					}
				}
			}

			@include clearfix;
		}
		
		// フッター部
		footer
		{
			
			background-color: #124b95;
			width: 100%;
			height: 470px;
			
			a
			{
				color: #ffffff;
				text-decoration: none;
			}
		
			#footerbox
			{
				width: 100%;
	
				.left_footer1
				{
					height: 150px;
					width: 150%;
					padding: 10px;
					float: left;
				a
					{
						line-height: 15pt
					}
				}
				
				.left_footer2
				{
					width: 100%;
					height: 150px;
					padding: 10px;
					float: left;
				a
					{
						line-height: 15pt
					}
				}
				
				.right_footer
				{
					height: 80px;
					width: 100%;
					padding: 10px;
					float: left;
				a
					{
						line-height: 15pt
					}
				}
				
			}
			
			
			@include clearfix;
				.copyright
				{
					padding: 0px;
					text-align: center;
					
					a
					{
						
					}
				}

			
		}
	}
			

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
ファブレット専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_smart_phone_width+1) and (max-width:$media_phablet_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/
	// コンテンツ部
	main
	{
	}

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
タブレット専用定義
	注意事項：
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_phablet_width+1) and (max-width:$media_tablet_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
デスクトップ専用定義
	注意事項：
		通常デスクトップのディスプレイの場合をデスクトップとして解釈している。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_tablet_width+1) and (max-width:$media_desctop_hd_width)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}

/*--------------------------------------------------------------------------------------------------------------
デスクトップHD以上定義
	注意事項：
		デスクトップHD以上のディスプレイの場合をデスクトップとして解釈している。
		プリンター等のディスプレイ以外には適用されない。
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:$media_desctop_hd_width+1)
{
	/*----------------------------------------------------------------------------------------------------------
	ワイヤーフレーム関連定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	その他の定義
	----------------------------------------------------------------------------------------------------------*/

	/*----------------------------------------------------------------------------------------------------------
	Ratina専用定義
		画像や特殊文字を実装する場合にRatina用の設定を行う。
	----------------------------------------------------------------------------------------------------------*/
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
	{
	}
}
